{% extends 'main/base.html' %} 

{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>URL Shortener Application <i class="fas fa-link px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-1">
          <div class="col-10">{{form.long_url}}</div>
          <div class="col-2">
            <button class="btn btn-primary btn-lg w-100" type="submit">
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if errors %}
  <div class="alert alert-danger mt-4" role="alert">
    <p>{{errors}}</p>
  </div>
  {% endif %}

  {% if new_url %}

  <div class="mx-auto text-center mt-5">
    <h2 class="text-danger">Your shortened Url</h2>
    <p><span class="text-success">New URL:</span> {{new_url}}</p>
    <p><span class="text-danger">Previous URL:</span> {{long_url}}</p>
  </div>
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created</th>
        <th scope="col">The Original URL</th>
        <th scope="col">New URL</th>
        <th scope="col">Followed</th>
      </tr>
    </thead>
    <tbody>
      {% for shorter in Shortener %}
      <tr>
        <th scope="row">{{shorter.id}}</th>
        <td>{{ shorter.created }}</td>
        <td>{{shorter.long_url}}</td>
        <td><a href="{{url}}{{shorter.short_url}}" target="_blank">{{uri}}{{shorter.short_url}}</a></td>
        <td>{{shorter.times_followed}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}